.Social_post_text{
	color: #1d2129;
	font-size: 14px;
	padding-left: var(--Social-space);
	padding-right: var(--Social-space);
}

.Social_post_image{
	max-width: 500px;
	border-top: 1px solid var(--Social-border-color);
	border-bottom: 1px solid var(--Social-border-color);
	margin: var(--Social-space) 0 var(--Social-space) 0;
}