.Social_react{
	display: flex;
	justify-content: space-between;
	padding-top: var(--Social-space);
	padding-bottom: var(--Social-space);
	padding-left: calc(var(--Social-space) * 6);
	padding-right: calc(var(--Social-space) * 6);
	border-bottom: 1px solid var(--Social-border-color);
}

.Reaction_like_text_active{
	color: rgb(53, 120, 229);
}